body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 100px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-box button:hover {
  background: #0056b3;
}

#message {
  margin-top: 12px;
  font-size: 14px;
  color: red;
}

.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}

.nav-link {
  font-size: 18px;
  color: #f3ebeb;
  text-decoration: none;
  margin-left: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.col-md-3 {
  flex: 0 0 25%;
  padding: 10px;
  box-sizing: border-box;
}

.product-card {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
}

.product-card img {
  width: 100%;
  height: 140px;
  object-fit: contain;
  margin-bottom: 5px;
}

.product-card strong {
  font-size: 16px;
  color: #333;
}

.product-card button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}


.cart-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.cart-card img {
  max-width: 100px;
  object-fit: contain;
  margin-right: 15px;
}

.cart-card strong {
  font-size: 16px;
  color: #333;
}

.cart-card button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.cart-card button:hover {
  background-color: #b02a37;
}

.back-btn {
  display: inline-block;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
}

.back-btn:hover {
  background-color: #0056b3;
}



